table{
    border-collapse: collapse; /* par défaut la bordure seait à double traits */
}
td, th{
    width: 4em;
    height: 4em;
}

.blanc{
    background-color: white;
}

.jaune{
    background-color: yellow;
}

.noir{
    background-color: black;
}

.maron1{
    background-color: #322515;
}

.maron2{
    background-color: #422323;
}

.visage{
    background-color: #FEAA7E;
}

.visage2{
    background-color: #FE9867;
}
