/*1ère partie*/
body{
    background: #dea;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-family: 'PT sans', sans-serif;

}

div#conteneur{
    width: 770px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #ab4;
    background: #fff;
}

h1#header{
    height: 258px;
    background: url(../img/apple.jpg) no-repeat left top;
    margin: 0;
    }
    h1#header a {
      margin-left: 340px;
      text-decoration: none;
      }
      h1#header a span{
        color:green;
        font-size: 2em;
        text-shadow: 2px 3px gray;
        background: linear-gradient(to bottom, #c9de96 0%, #398235 100%); /* Chrome10-25,Safari5.1-6 */
        background-clip: text;
        text-fill-color:transparent;

      }

nav{
  height: 30px;
  background-color: #8ed334;
  border-top: 1px solid #ab4;
  border-bottom: 1px solid #ab4;
  }
  nav ul {
    margin: 0;
    padding: 0;
    text-indent: 0; /* décalage  1ère ligne*/
    }
    nav ul li{

      /*border-width:*/
      padding: 0 25px;
      list-style: none;
      float: left;
      font-style: normal;
      border-right: 4px solid #fff;
      }
      nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
      }

/*2ème partie*/
div#contenu{
    padding: 0 30px 0 100px;
    background-image: url(../img/bg_page.gif);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    }

    div#contenu h2{
        padding-left: 25px;
        line-height: 25px;
        font-size: 1.4em;
        background: url(../img/little_apple.gif) no-repeat left bottom;
        color: #9b2;
        border-bottom: 1px solid #9b2;
    }

    div#contenu h3{
        margin-left: 15px;
        padding-left: 5px;
        border-bottom: 1px solid #9b2;
        border-left: 1px solid #9b2;
        color: #9b2;
    }

    div#contenu p{
        text-align: justify;
        text-indent: 2em; /* décalage  1ère ligne*/
        line-height: 1.7em; /* interligne*/
    }

    div#contenu a{
        color: #8a0;
        }

        div#contenu a:hover{
            color: #9bd;
        }

p#footer{
    margin: 0;
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
    color: #8a0;
}
