

body{
    font-family: 'Cormorant Garamond', serif;
    width: 1020px;
    margin: auto;
}

h1{
        margin: 0 30%;
        padding: 0;
        font-size: 3em;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

h2{
    margin-top: 30%;
    margin-left: 30px;
    font-size: 2em;
}

h3{

}

h4{
    border-bottom: 1px solid #000;
}

header, footer {
    text-align: center;
    margin: auto;
}

header{
    margin-top: 100px;
    margin-bottom: 50px;
}

#ligne_plat {
        height: 543px;
        background: url(../img/plate.jpg) no-repeat 50px top;
    }
    #plat{
        padding: 210px 175px 0 385px;
        text-align: right;
    }

.ligne{
    height: 520px;
    }

    .ligne div {
        float: left;
        width: 50%;
        height: 520px;
    }
        .plat hr{
            margin: 10px 30px;
        }
        .plat p{
            margin: 0 30px;
            font-style: italic;
        }
        .plat span{
            display: inline-block;
            margin-left: 30px;
            color: #fff;
            background-color: #000;
            margin-top: 10px;
            padding: 5px 30px 5px 5px;

        }




.clear{
        /*clear: both;*/
    }

    img{
        width: 510px;
        height: 520px;
    }

    footer{
        margin-top: 50px;
        margin-bottom: 100px;
        }



        /*#plan {
            margin-top: 50px;
            height: 125px;
            /*background: url(../img/plan.png) no-repeat 50% top;*/
        }*/




/**/
