body{
    width: 70%;
    margin: auto;
}

p{
    color: white;
    text-align: center;
}

header p{
    padding: 2em 0;
    /*height: 1em;*/
    background-color: black;
}

nav p{
    padding: 1.5em 0;
    /*height: 1em;*/
    background-color: gray;
}


.bloc p{
    height: 1em;
    /*margin: auto 0;*/
    padding: 2em 0;
    /*height: inherit;*/

    border: 1px solid white;

}

#corps{
    background-color: cyan;
    height: 21em;
    position: relative;
    width: 100%;
}

#zone1{
    top: 5px;
    left: 5px;
}

#zone2{
    top: 5px;
    right: 5px;
}

#zone3{
    bottom: 5px;
    left: 5px;
}

#zone4{
    bottom: 5px;
    right: 5px;
}

.zone{
    width: 50%;
    position: absolute;
}

.bloc{
    float: left;
    width: 50%;
    /*height: 100px;*/
}

#zone1 {
    background-color: red;
}

#zone2 {
    background-color: green;
}

#zone3 {
    background-color: maroon;
}

#zone4 {
    background-color: blue;
}

footer{
    padding: 1.5em 0;
    background-color: gray;
}
