body{
    width: 70%;
    margin: auto;
}

p{
    margin: auto;
    color: white;
    text-align: center;
    vertical-align:
}

header>div{
}

header>div:first-child{
    height: 60px;
    background-color: black;
}

header>div:last-child{
    height: 30px;
    background-color: gray;
}

.bloc p{
    height: 1em;
    margin: auto 0;

    height: inherit;

    border: 1px solid white;

}

#corps{
    background-color: cyan;
    height: 210px;
    position: relative;
    width: 100%;
}

#zone1{
    top: 5px;
    left: 5px;
}

#zone2{
    top: 5px;
    right: 5px;
}

#zone3{
    bottom: 5px;
    left: 5px;
}

#zone4{
    bottom: 5px;
    right: 5px;
}

.zone{
    width: 50%;
    position: absolute;
}

.bloc{
    float: left;
    width: 50%;
    height: 50px;
}

#zone1 {
    background-color: red;
}

#zone2 {
    background-color: green;
}

#zone3 {
    background-color: maroon;
}

#zone4 {
    background-color: blue;
}

footer{
    background-color: gray;
    height: 50px;
}
